In [1]:
matrix(1:25, nrow = 5, ncol = 5)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1     6   11   16   21
[2,] 2     7   12   17   22
[3,] 3     8   13   18   23
[4,] 4     9   14   19   24
[5,] 5    10   15   20   25

In [3]:
a <- matrix(1:25, nrow = 5, ncol = 5) 
a

     [,1] [,2] [,3] [,4] [,5]
[1,] 1     6   11   16   21
[2,] 2     7   12   17   22
[3,] 3     8   13   18   23
[4,] 4     9   14   19   24
[5,] 5    10   15   20   25

In [4]:
b <- c("a", "b", "c", "d", "e") %>% colnames(a)
b
a

ERROR: Error in c("a", "b", "c", "d", "e") %>% colnames(a): could not find function "%>%"

In [5]:
if (!requireNamespace("dplyr", quietly = TRUE))
    install.packages("dplyr")
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [7]:
if (!requireNamespace("magrittr", quietly = TRUE))
    install.packages("magrittr")
library(magrittr)

In [8]:
b <- c("a", "b", "c", "d", "e") %>% colnames(a)
b
a

ERROR: Error in if (do.NULL) NULL else {: the condition has length > 1

In [11]:
library(data.table)

In [12]:
dt_genes <- data.table(
  id = c("gene1", "gene2", "gene3"),
  A = c(1, 2, 3),
  B = c(4, 5, 6)
)

In [13]:
expr_sum <- dt_genes[, lapply(.SD, sum), .SDcols = -'id']
print(expr_sum)

       A     B
   <num> <num>
1:     6    15

In [15]:
expr_sum <- lapply(dt_genes[, -"id"], sum)
print(expr_sum)

$A
[1] 6

$B
[1] 15

In [17]:
library(GenomicRanges)

In [20]:
a <- GRanges(
  seqnames = Rle(c("chr1", "chr2"), c(2, 2)),
  ranges = IRanges(start = c(100, 200, 300, 400), width = 50),
  strand = Rle(strand(c("+", "-", "*", "+"))),
  score = c(5.1, 3.2, 6.3, 2.5)
)

In [21]:
a

GRanges object with 4 ranges and 1 metadata column:
      seqnames    ranges strand |     score
         <Rle> <IRanges>  <Rle> | <numeric>
  [1]     chr1   100-149      + |       5.1
  [2]     chr1   200-249      - |       3.2
  [3]     chr2   300-349      * |       6.3
  [4]     chr2   400-449      + |       2.5
  -------
  seqinfo: 2 sequences from an unspecified genome; no seqlengths

In [25]:
GRanges(
  seqnames = Rle(c("chr1", "chr2"), c(2, 2)),
  ranges = IRanges(start = c(100, 200, 300, 400), end = c(101, 201, 301, 401)),
  sum = c(5.1, 3.2, 6.3, 2.5)
)

GRanges object with 4 ranges and 1 metadata column:
      seqnames    ranges strand |       sum
         <Rle> <IRanges>  <Rle> | <numeric>
  [1]     chr1   100-101      * |       5.1
  [2]     chr1   200-201      * |       3.2
  [3]     chr2   300-301      * |       6.3
  [4]     chr2   400-401      * |       2.5
  -------
  seqinfo: 2 sequences from an unspecified genome; no seqlengths

In [29]:
library(Matrix)
library(readr)
data_path <- "Data/matrix/"
features <- read_tsv(file = paste0(data_path, "features.tsv.gz"), col_names = F, show_col_types = F)

In [30]:
head(features)

  X1              X2          X3              X4   X5     X6
1 ENSG00000243485 MIR1302-2HG Gene Expression chr1  29553  30267
2 ENSG00000237613 FAM138A     Gene Expression chr1  36080  36081
3 ENSG00000186092 OR4F5       Gene Expression chr1  65418  69055
4 ENSG00000238009 AL627309.1  Gene Expression chr1 120931 133723
5 ENSG00000239945 AL627309.3  Gene Expression chr1  91104  91105
6 ENSG00000239906 AL627309.2  Gene Expression chr1 140338 140339

In [31]:
colnames(features) <- c("id", "name", "type", "chr", "start", "end")
head(features)

  id              name        type            chr  start  end
1 ENSG00000243485 MIR1302-2HG Gene Expression chr1  29553  30267
2 ENSG00000237613 FAM138A     Gene Expression chr1  36080  36081
3 ENSG00000186092 OR4F5       Gene Expression chr1  65418  69055
4 ENSG00000238009 AL627309.1  Gene Expression chr1 120931 133723
5 ENSG00000239945 AL627309.3  Gene Expression chr1  91104  91105
6 ENSG00000239906 AL627309.2  Gene Expression chr1 140338 140339

In [32]:
a<-c(1, NA, 3)

In [33]:
a

[1]  1 NA  3

In [34]:
a[is.na(a)] <- 2
a

[1] 1 2 3

In [41]:
FALSE || TRUE

[1] TRUE

In [42]:
nrow(installed.packages())

[1] 243

In [50]:
h38 <- rtracklayer::import("Data/Homo_sapiens.GRCh38.114.gtf.gz")
h38_protein_coding <- h38[h38$type == "gene" & h38$gene_biotype == "protein_coding"]

In [51]:
seqlevels(h38_protein_coding) <- ifelse(
    grepl(
        "^([1-9]|1[0-9]|2[0-2]|X|Y)$", 
        seqlevels(h38_protein_coding)
    ), 
    paste0(
        "chr", 
        seqlevels(h38_protein_coding)
    ), 
    seqlevels(h38_protein_coding)
)

In [52]:
seqlevels(h38_protein_coding)

 [1] "chr1"       "chr2"       "chr3"       "chr4"       "chr5"
 [6] "chr6"       "chr7"       "chr8"       "chr9"       "chr10"
[11] "chr11"      "chr12"      "chr13"      "chr14"      "chr15"
[16] "chr16"      "chr17"      "chr18"      "chr19"      "chr20"
[21] "chr21"      "chr22"      "chrX"       "chrY"       "MT"
[26] "GL000008.2" "GL000009.2" "GL000194.1" "GL000195.1" "GL000205.2"
[31] "GL000213.1" "GL000214.1" "GL000216.2" "GL000218.1" "GL000219.1"
[36] "GL000220.1" "GL000221.1" "GL000224.1" "GL000225.1" "KI270442.1"
[41] "KI270706.1" "KI270710.1" "KI270711.1" "KI270712.1" "KI270713.1"
[46] "KI270714.1" "KI270717.1" "KI270718.1" "KI270719.1" "KI270720.1"
[51] "KI270721.1" "KI270722.1" "KI270726.1" "KI270727.1" "KI270728.1"
[56] "KI270731.1" "KI270733.1" "KI270734.1" "KI270741.1" "KI270742.1"
[61] "KI270743.1" "KI270744.1" "KI270745.1" "KI270746.1" "KI270748.1"
[66] "KI270749.1" "KI270750.1" "KI270751.1" "KI270753.1" "KI270755.1"

In [45]:
grepl("^([1-9]|1[0-9]|2[0-2]|X|Y)$", c(1, 2, 10, 99))

[1]  TRUE  TRUE  TRUE FALSE

In [46]:
grepl("^([1-22]|X|Y)$", c(1, 2, 10, 99))

[1]  TRUE  TRUE FALSE FALSE

In [53]:
a <- read_tsv(file = paste0(data_path, "features.tsv.gz"), col_names = c("id", "name", "type", "chr", "start", "end"), show_col_types = F)
head(a)

  id              name        type            chr  start  end
1 ENSG00000243485 MIR1302-2HG Gene Expression chr1  29553  30267
2 ENSG00000237613 FAM138A     Gene Expression chr1  36080  36081
3 ENSG00000186092 OR4F5       Gene Expression chr1  65418  69055
4 ENSG00000238009 AL627309.1  Gene Expression chr1 120931 133723
5 ENSG00000239945 AL627309.3  Gene Expression chr1  91104  91105
6 ENSG00000239906 AL627309.2  Gene Expression chr1 140338 140339

In [54]:
aa <- function(x) {return(paste("a", x))}

In [56]:
a <- lapply(1:5, aa)

In [57]:
a

[[1]]
[1] "a 1"

[[2]]
[1] "a 2"

[[3]]
[1] "a 3"

[[4]]
[1] "a 4"

[[5]]
[1] "a 5"

In [62]:
a <- c("a","b", "ab")
a[grepl("a", a)]

[1] "a"  "ab"

In [63]:
grepl("a", a)

[1]  TRUE FALSE  TRUE

In [3]:
url <- "https://drive.google.com/uc?export=download&id=1Yc5kv8OXd5oDTkX-TVRvwLkwkjew43DZ"
download.file(url, "downloaded_file", mode = "wb")

In [2]:
getwd()

[1] "/sharedFolder"

In [4]:
library(googledrive)

# The file ID from your link
file_id <- "1Yc5kv8OXd5oDTkX-TVRvwLkwkjew43DZ"

# Download the file
drive_download(as_id(file_id), path = "downloaded_file.zip", overwrite = TRUE)

ERROR: Error in `map()`:
ℹ In index: 1.
Caused by error in `drive_auth()`:
! Can't get Google credentials.
ℹ Are you running googledrive in a non-interactive session? Consider:
• Call `drive_deauth()` to prevent the attempt to get credentials.
• Call `drive_auth()` directly with all necessary specifics.
ℹ See gargle's "Non-interactive auth" vignette for more details:
ℹ <https://gargle.r-lib.org/articles/non-interactive-auth.html>

In [12]:
library(GenomicRanges)

# Create a simple GRanges object
gr <- GRanges(seqnames = "chr1", ranges = IRanges(1:3, width=5))
gr
# Add a new column called "score"
gr$score <- c(10, 20, 30)

GRanges object with 3 ranges and 0 metadata columns:
      seqnames    ranges strand
         <Rle> <IRanges>  <Rle>
  [1]     chr1       1-5      *
  [2]     chr1       2-6      *
  [3]     chr1       3-7      *
  -------
  seqinfo: 1 sequence from an unspecified genome; no seqlengths

In [9]:
gr

GRanges object with 3 ranges and 1 metadata column:
      seqnames    ranges strand |     score
         <Rle> <IRanges>  <Rle> | <numeric>
  [1]     chr1       1-5      * |        10
  [2]     chr1       2-6      * |        20
  [3]     chr1       3-7      * |        30
  -------
  seqinfo: 1 sequence from an unspecified genome; no seqlengths

In [10]:
mcols(gr)$score2 <- c("a", "b", "c")

In [11]:
gr

GRanges object with 3 ranges and 2 metadata columns:
      seqnames    ranges strand |     score      score2
         <Rle> <IRanges>  <Rle> | <numeric> <character>
  [1]     chr1       1-5      * |        10           a
  [2]     chr1       2-6      * |        20           b
  [3]     chr1       3-7      * |        30           c
  -------
  seqinfo: 1 sequence from an unspecified genome; no seqlengths

In [9]:
log(16, base = 16)

[1] 1

In [7]:
?log1p

log                    package:base                    R Documentation

_L_o_g_a_r_i_t_h_m_s _a_n_d _E_x_p_o_n_e_n_t_i_a_l_s

_D_e_s_c_r_i_p_t_i_o_n:

     ‘log’ computes logarithms, by default natural logarithms, ‘log10’
     computes common (i.e., base 10) logarithms, and ‘log2’ computes
     binary (i.e., base 2) logarithms.  The general form ‘log(x, base)’
     computes logarithms with base ‘base’.

     ‘log1p(x)’ computes log(1+x) accurately also for |x| << 1.

     ‘exp’ computes the exponential function.

     ‘expm1(x)’ computes exp(x) - 1 accurately also for |x| << 1.

_U_s_a_g_e:

     log(x, base = exp(1))
     logb(x, base = exp(1))
     log10(x)
     log2(x)

     log1p(x)

     exp(x)
     expm1(x)

_A_r_g_u_m_e_n_t_s:

       x: a numeric or complex vector.

    base: a positive or complex number: the base with respect to which
          logarithms are computed.  Defaults to e=‘exp(1)’.

_D_e_t_a_i_l_s:

     All except ‘logb’ are generic functions: methods can be defined
     for them individually or via the ‘Math’ group generic.

     ‘log10’ and ‘log2’ are only convenience wrappers, but logs to
     bases 10 and 2 (whether computed _via_ ‘log’ or the wrappers) will
     be computed more efficiently and accurately where supported by the
     OS.  Methods can be set for them individually (and otherwise
     methods for ‘log’ will be used).

     ‘logb’ is a wrapper for ‘log’ for compatibility with S.  If (S3 or
     S4) methods are set for ‘log’ they will be dispatched.  Do not set
     S4 methods on ‘logb’ itself.

     All except ‘log’ are primitive functions.

_V_a_l_u_e:

     A vector of the same length as ‘x’ containing the transformed
     values.  ‘log(0)’ gives ‘-Inf’, and ‘log(x)’ for negative values
     of ‘x’ is ‘NaN’.  ‘exp(-Inf)’ is ‘0’.

     For complex inputs to the log functions, the value is a complex
     number with imaginary part in the range [-pi, pi]: which end of
     the range is used might be platform-specific.

_S_4 _m_e_t_h_o_d_s:

     ‘exp’, ‘expm1’, ‘log’, ‘log10’, ‘log2’ and ‘log1p’ are S4 generic
     and are members of the ‘Math’ group generic.

     Note that this means that the S4 generic for ‘log’ has a signature
     with only one argument, ‘x’, but that ‘base’ can be passed to
     methods (but will not be used for method selection).  On the other
     hand, if you only set a method for the ‘Math’ group generic then
     ‘base’ argument of ‘log’ will be ignored for your class.

_S_o_u_r_c_e:

     ‘log1p’ and ‘expm1’ may be taken from the operating system, but if
     not available there then they are based on the Fortran subroutine
     ‘dlnrel’ by W. Fullerton of Los Alamos Scientific Laboratory (see
     <https://netlib.org/slatec/fnlib/dlnrel.f>) and (for small x) a
     single Newton step for the solution of ‘log1p(y) = x’
     respectively.

_R_e_f_e_r_e_n_c_e_s:

     Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S
     Language_.  Wadsworth & Brooks/Cole.  (for ‘log’, ‘log10’ and
     ‘exp’.)

     Chambers, J. M. (1998) _Programming with Data.  A Guide to the S
     Language_.  Springer. (for ‘logb’.)

_S_e_e _A_l_s_o:

     ‘Trig’, ‘sqrt’, ‘Arithmetic’.

_E_x_a_m_p_l_e_s:

     log(exp(3))
     log10(1e7) # = 7

     x <- 10^-(1+2*1:9)
     cbind(deparse.level=2, # to get nice column names
           x, log(1+x), log1p(x), exp(x)-1, expm1(x))

In [22]:
library(data.table)

# Example data.table
dt <- data.table(a = c(10, 20, 30, 40), b = c(10, 20, 30, 40), id = c("a", "b", "c", "d"))
dt
# Log normalization
dt[colSums(dt[,-"id"]),]
colSums(dt[,-"id"])
dt

  a  b  id
1 10 10 a
2 20 20 b
3 30 30 c
4 40 40 d

  a  b  id
1 NA NA NA
2 NA NA NA

  a   b
100 100

  a  b  id
1 10 10 a
2 20 20 b
3 30 30 c
4 40 40 d

In [32]:
library(data.table)

dt <- data.table(
  id = c("A", "B", "C"),
  val1 = c(2, 4, 6),
  val2 = c(10, 20, 30),
    val3 = c(1,0,0)
)
dt

  id val1 val2 val3
1 A  2    10   1
2 B  4    20   0
3 C  6    30   0

In [41]:
library(data.table)

dt <- data.table(
  id = c("A", "B", "C"),
  val1 = c(2, 4, 6),
  val2 = c(10, 20, 30),
    val3 = c(2,1,1)
)
dt
# Exclude the id column and normalize the rest
num_cols <- setdiff(names(dt), "id")
a <- dt[, (num_cols) := lapply(.SD, function(x) log2((x / sum(x))*1e6)), .SDcols = num_cols]

  id val1 val2 val3
1 A  2    10   2
2 B  4    20   1
3 C  6    30   1

In [42]:
dt <- data.table(
  id = c("A", "B", "C"),
  val1 = c(2, 4, 6),
  val2 = c(10, 20, 30),
    val3 = c(2,1,1)
)
dt

  id val1 val2 val3
1 A  2    10   2
2 B  4    20   1
3 C  6    30   1

In [44]:
num_cols

[1] "val1" "val2" "val3"

In [45]:
log2(1)

[1] 0